<?xml version="1.0" encoding="utf-8" ?>
<!-- http://www.huanlintalk.com/2012/04/git-ignore-file.html -->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProducerIoTDevices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="private.config">
    <add key="iotHubConnectionString" ></add>
  </appSettings>

  <userSettings file="private.config">
    <ProducerIoTDevices.Properties.Settings>
      <setting name="iotHubConnectionString" serializeAs="String">
        <value>HostName=supplychain-iothub.azure-devices.net;DeviceId=producer;SharedAccessKey=C4js0/F0UmBLG9PCTKKFHPcFMRKbYA8R2VCPhn65toA=</value>
      </setting>
      <setting name="temperature" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="humidity" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="pm25" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="co2" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="o2" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="n2" serializeAs="String">
        <value>56</value>
      </setting>
      <setting name="interval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="batchId" serializeAs="String">
        <value>A001</value>
      </setting>
      <setting name="buildingId" serializeAs="String">
        <value>Bld001</value>
      </setting>
    </ProducerIoTDevices.Properties.Settings>
  </userSettings>
</configuration>